body {
	background-color: #4E4E4E;
	text-align: center;
	margin: 10;
	padding: 0;
	height: 100%;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	min-height:100%;
	position:relative;
}

#content {
	background-color: #fff;
	border: 1px solid #000;
	float: left;
	font-family: Arial;
	padding: 20px 30px;
	text-align: left;
	width: 100%;
}

#menu {
	float: left;
	clear: both;
	width: 100%;
	height: 20px;
	padding: 0 20px;
	text-align: left;
	font-size: 85%;
}

#menu a:hover {
	background-color: #009FC1;
}

#userbar {
	float: right;
	width: 250px;
}

#footer {
	position:absolute;
	bottom:0;
	width: 100%;
	height: 5px; /* Height of the footer */
}

#footer_menu {
	position:absolute;
	bottom: 10px;
	width: 100%
	height: 20px;
}

/* begin table styles */

/* Begin font styles */
h1, #footer {
	font-family: Arial;
	color: #F1F3F1;
}

h3 {margin: 10px 0 10px 0; padding: 0;}

/* Menu styles */
.menu_button {
	background-color: #00728B;
	border: 1px solid #032472;
	color: #FFF;
	font-family: Arial;
	padding: 3px;
	text-decoration: none;
}

.leftpart {
	width: 70%;
}

.rightpart {
	width: 30%;
}

.small {
	font-size: 75%;
	color: #373737;
}
#footer {
	font-size: 65%;
	padding: 30px 0 0 0;
}

.topic-post{
	height: 100px;
	overflow: auto;
}

.post-content {
	padding: 30px;
}

textarea {
	width: 500px;
	height: 200px;
}
